---
layout: default
---

<div id="index-wrapper">
    <div class="profile-pic">
      <img src="images/me.jpeg">
      {% include social_links.html %}
    </div>
    <section>
        <h2>Biography</h2>
        <span>
          I am currently working as a Senior Data Scientist with Visteon Coorporation as a part of Chief Technology Office. Where I work on Technology for Self Driving Cars, Augmented Reality within a car, Voice Assistant for a car with a focus in Machine Learning in Natural Language and Computer Vision.         
          Before joining Visteon, I worked at <a href="#">Tatras Data</a> and <a href="#">Aureus Analytics</a> as a Data Scientist where I got to work on different domains but majorly working in the areas of Big Data problems with unstructred text for online chatbots, news recommendation, resume analytics, customer analytics and digital marketing with a focus of large scale data processing using NoSQL, Hadoop, Spark.
        </span>
        <br><br>
        <span>
          I completed my Bachelors of Technology in Electronics and Computer Science and Masters of Technology in Intelligenet Systems and Robotics from <a href="#">School of ICT, Gautam Buddha University</a>
        </span>
        {% if site.show_social_icons %}
          {% include social_links.html %}
        {% endif %}
        {% if site.show_affiliations %}
          {% include affiliations.html %}
        {% endif %}
    </section>
</div>
<div class="clearfix"></div>
{% if site.show_highlighted_projects %}
  {% include highlighted_projects.html %}
{% endif %}
